@media (max-width: 500px) {
    .bg-h {
        height: 150px;
        }

    .img-logo {
        margin-top: 50px;
        margin-left: 40px;
    }
  }

  @media (max-width: 400px) {
    
    .img-logo {
        margin-left: 25px;
    }
  }